.contenedor-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px; 
    max-width: 500px;
    grid-gap: 10px;
    margin-top: 30px; 
}

.contenedor img {
    width: 200px; 
    height: 200px; 
    object-fit: cover;  
    border: 2px solid black;   
}

#estadoSelect {
    width: 200px; 
    height: 40px; 
    font-size: 16px; 
    padding: 5px; 
}

.boton {
    width: 100px; 
    height: 40px; 
    font-size: 16px; 
    padding: 5px; 
}

table {
    position: absolute; 
    top: 10%; 
    right: 100px;
    width: 400px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: 20px;
}

th, td {
    border: 1px solid black; 
    padding: 8px; 
    text-align: left; 
}
